<div class="center hero-unit">
 <aside class="span4">
  <h1>Welcome to Michael Armistead's Sample App</h1>

  <h2>
    here's a link to go to a
    <a href="www.codeacademy.com">place to learn ruby</a>
    online.
  </h2>
</aside>
  <p> here's a test<p/>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<p>totally not stealing content<p/>
  <img src="http://i.imgur.com/jjSRCDR.jpg"/>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
